<form class="form-horizontal">
  <h2>{{ _("Lazy Install Button") }}</h2>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: settings.plugins.lazyinstallbutton.enabled" />
        {{ _("Enabled") }}
      </label>
    </div>
  </div>